{% extends 'base.html' %}
{% block content %}

<h1 class="display-4">Register</h1>
<p class="lead">Register for our site.</p>

<form method="POST">

  {{ form.hidden_tag() }}
  <div class="register">
    <div class="register-row">
      {{form.username.label(class="register-label")}}
      {{form.username(class="register-input")}}
    </div>
    <div class="register-row">
      {{form.password.label(class="register-label")}}
      {{form.password(class="register-input")}}
    </div>
    <div class="register-row">
      {{form.email.label(class="register-label")}}
      {{form.email(class="register-input")}}
    </div>
    <div class="register-row">
      {{form.first_name.label(class="register-label")}}
      {{form.first_name(class="register-input")}}
    </div>
    <div class="register-row">
      {{form.last_name.label(class="register-label")}}
      {{form.last_name(class="register-input")}}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>

</form>

{% endblock %}
