{% extends 'base.html' %} 

{% block content %}

<h1 class="display-4">Welcome {{user.username}}</h1>
<div class="secret">
    <div class="secret-row">
        <h3>Email: {{user.email}}</h3>
        <h3>First Name: {{user.first_name}}</h3>
        <h3>Last Name: {{user.last_name}}</h3>
    </div>
</div>
{% for row in feedback %}
<form action="/feedback/{{row.id}}/delete" method="POST" class="secret-form">
    <h5>{{row.title}}</h5>
    <div class="feedback">
        <div class="feedback-content">
            {{row.content}}
        </div>
        <div class="feedback-content">
            <button type="submit" class="btn btn-primary" formmethod="GET" formaction="/feedback/{{row.id}}/update">Update</button> 
            <button class="btn btn-warning">Delete</button>
        </div>   
            
       
    </div>    
</form>
{% endfor %}
<form action="/users/{{user.username}}/feedback/add" method="GET" class="secret-footer">
    <button type="submit" class="btn btn-info">Add Feedback</button>    
    <button type="submit" class="btn btn-warning" formmethod="POST" formaction="/users/{{user.username}}/delete">Delete your account</button>
</form>
{% endblock %}